* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: Nunito;
}
html,
body,
section {
    width: 100%;
}
body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;

    background: rgba(255, 255, 255, 0.2);
    /* margin: auto auto; */
    padding: 20px;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 5px;
}
.success {
    width: 100%;
    height: 100%;
}
.success img {
    display: block;
    width: 100%;
    height: 100%;
}
form > div {
    transition: all 1s;
    margin: 10px 0;
}
select {
    border: transparent;
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
    height: 28px;
}
option {
    font-family: Nunito;
}
input {
    border: transparent;
    height: 28px;
    outline: none;
}
button {
    font-size: 16px;
    border: none;
    padding: 5px;
    text-transform: capitalize;
    color: white;
    background: green;
}
input,
select,
button {
    padding-left: 5px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
}
.img {
    width: 100%;
    height: 100%;
}

h1 {
    margin-top: 10%;
    text-align: center;
    color: green;
    text-transform: capitalize;
    font-size: 5rem;
}
.id {
    position: relative;
}

.error p {
    margin-left: 10px;
}

.remove {
    opacity: 0;
}
.add {
    opacity: 1;
    padding: 5px;
}
.toast {
    background-color: brown;
    color: white;
}
@media only screen and (max-width: 640px) {
    form {
        width: 75%;
    }
}
@media only screen and (min-width: 640px) {
    form {
        width: 20%;
    }
}
